body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.modalEl {
  height: 100%;
  width: 100%;
}


.start-on-github {
  display: block;
  position: absolute;
  top: 3rem;
  right: -5rem;
  padding: .8em 1.5em;
  width: 15em;
  text-align: center;
  background-color: #0a1818;
  font-size: 1.2em;
  font-weight: 500;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  transition: all .2s;
  background-color: rgba(0,0,0,0.7);
}

.start-on-github:hover {
  background-color: rgba(0,0,0,0.9);
}

.star-container {
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 20rem;
}
